<table class="table table-borderless">
  <% book.post_comments.each do |post_comment| %>
    <tr class="post-comment-<%= post_comment.id %>">
      <td>
        <%= link_to user_path(post_comment.user) do %>
          <%= image_tag post_comment.user.get_profile_image, size:'50x50' %>
          <br>
          <%= post_comment.user.name %>
        <% end %>
      </td>
      <td>
        <%= post_comment.comment %>
      </td>
      <td>
        <% if post_comment.user == current_user %>
          <%= link_to "Destroy", book_post_comment_path(post_comment.book, post_comment), method: :delete, remote: true, class:"btn btn-danger" %>
        <% end %>
      </td>    
    </tr>
  <% end %>
</table>
<div class="form-group">
  <%= form_with model: [book, post_comment], local: false do |f| %>
    <%= f.text_area :comment, rows: '5', class:"form-control", placeholder: "コメントをここに" %>
    <%= f.submit class:"btn btn-secondary" %>
  <% end %>
</div>