<%= form_with model:book,local:true do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control book_title' %>
  </div>
  <div class="form-group">
    <%= f.label :opinion %>
    <%= f.text_area :body, class: 'form-control book_body' %>
  </div>
  <div id="post_raty"></div>
  <script src="raty.js">
    let elem = document.querySelector('#post_raty');
    let opt = {  
      size : 36,
      number: function() {
        return 3;
      }
      score: function() {
        return 2 * 2;
      }
      half: false
    };
    raty(elem,opt);
  </script>
  <div class="form-group">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
