<table class='table table-hover table-inverse'>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="4"></th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td>
          <%= link_to(book.user) do %>
            <%= image_tag book.user.get_profile_image, size:'50x50' %>
          <% end %>
        </td>
        <td><%= link_to book.title,book %></td>
        <td><%= book.body %></td>
        <td class="favorite-btn-<%= book.id %>">
          <%= render 'favorites/favorite-btn', book: book %>
        </td>
        <td>
          <% book.tags.each do |tag| %>
            <%= tag.name %>
          <% end %>
        </td>
        <td>
          <div id="post_raty<%= book.id%>"></div>
          <script>
            let elem<%= book.id %> = document.querySelector('#post_raty<%= book.id%>');
            let opt<%= book.id %> = {
              readOnly: true,
              size: 36,
              starOff: '<%= asset_path('star-off.png') %>',
              starOn: '<%= asset_path('star-on.png') %>',
              score: <%= book.score %>,
            };
            raty(elem<%= book.id %>, opt<%= book.id %>)
          </script>
        </td>
        <td>
          コメント数:<%= book.post_comments.count %>
        </td>
        <td>
          閲覧数:<%= book.impressionist_count %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>