<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <td class="favorite-btn-<%= @book.id %>">
            <%= render 'favorites/favorite-btn', book: @book %>
          </td>
          <td>
            <div id="post_raty<%= @book.id%>"></div>
            <script>
              let elem<%= @book.id %> = document.querySelector('#post_raty<%= @book.id%>');
              let opt<%= @book.id %> = {
                readOnly: true,
                size: 36,
                starOff: '<%= asset_path('star-off.png') %>',
                starOn: '<%= asset_path('star-on.png') %>',
                score: <%= @book.score %>,
              };
              raty(elem<%= @book.id %>, opt<%= @book.id %>)
            </script>
          </td>
          <% if current_user == @book.user %>
            <td>
              <%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %>
              <br>
              <%= link_to 'Destroy', book_path, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%>
            </td>
          <% end %>
          <td>
            コメント数:<%= @book.post_comments.count %>
            <br>
            閲覧数:<%= @book.impressionist_count %>
          </td>
        </tr>
      </table>
      <div class="post-comment-<%= @post_comment.id %>">
        <%= render 'post_comments/post_comment', book: @book, post_comment: @post_comment %>
      </div>
    </div>
  </div>
</div>