<h2>
  <%= @chat_user.user.name %>
  さんとのチャット
</h2>
<hr>
<div class="container">
  <div>
    <% if @direct_messages.present? %>
      <% @direct_messages.each do |message| %>
        <% if message.user == current_user %>
          <div class="row">
            <div class="col-9 text-right">
              <strong class="bg-primary rounded-pill p-2">
                <%= message.body %>
              </strong>
              <br>
              <div>
                <%= message.created_at.strftime("%y-%m-%d %H:%M") %>
              </div>
            </div>
            <div class="col-2">
              <%= image_tag message.user.get_profile_image, size:'50x50' %>
              <br>
              <%= message.user.name %>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-2 text-right">
              <%= image_tag message.user.get_profile_image, size:'50x50' %>
              <br>
              <%= message.user.name %>
            </div>
            <div class="col-9">
              <strong class="text-left border border-dark rounded-pill p-2">
                <%= message.body %>
              </strong>
              <br>
              <div>
                <%= message.created_at.strftime("%y-%m-%d %H:%M") %>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
  <div class="posts">
    <%= form_with model: @direct_message do |f| %>
      <%= f.text_field :body, placeholder: "メッセージを入力してください", size: 70, class:'form-text-field' %>
      <%= f.hidden_field :room_id, value: @room.id %>
      <%= f.submit "送信", class:'form-submit' %>
    <% end %>
  </div>
</div>